<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>פודקאסט: התשובה</title>
</head>
<body>
  <h1>פרקים אחרונים - התשובה</h1>
  <% if (episodes.length === 0) { %>
    <p>לא נמצאו פרקים</p>
  <% } else { %>
    <ul>
      <% episodes.forEach(episode => { %>
        <li>
          <h3><%= episode.title %></h3>
          <p><%= episode.description %></p>
          <% if (episode.audio) { %>
            <audio controls src="<%= episode.audio %>"></audio>
          <% } else { %>
            <p>אין קובץ שמע זמין</p>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
